@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Repositorio da aplicação <a href=" https://github.com/Danielkura/Teste2codinginners ">GitHub </a>.</p>
</div>
